* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

html {
	--background-color: rgb(80, 12, 63);
	--primary-color: rgb(146, 6, 146);
	--text-color: rgb(27, 0, 25);
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Pixelify Sans", sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
	min-height: 100vh;
}

header {
	background-color: var(--primary-color);
	justify-content: center;
	display: flex;
	flex-direction: row;
	padding: 2% 0;
	height: 10%;
	min-height: 25px;
	border-radius: 0 0 20% 20%;
	font-size: 40px;
	top: 0;
	width: 100%;
	font-family: "Stalinist One", sans-serif;
	image-rendering: pixelated;
}

footer {
	margin-top: auto;
	background-color: var(--primary-color);
	text-align: center;
	padding: 2% 0;
	font-size: clamp(5px, 3vw, 10px);
	border-radius: 20% 20% 0 0;
	height: 5%;
	bottom: 0;
	width: 100%;
	font-family: "Stalinist One", sans-serif;
}

.container {
	width: 95%;
	margin: 0 auto;
	background-color: rgb(34, 14, 34);
	color: white;
	padding: 2%;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(114, 0, 104, 0.692);
}

.nav-bar {
	margin: 10px 0;
	color: var(--text-color);
	padding: 1% 0;
	font-size: 30px;
	display: flex;
	justify-content: center;
	margin: 10px 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
	margin: 0 10px;
}

button,
a.button {
	display: block;
	width: fit-content;
	background-color: var(--primary-color);
	color: var(--text-color);
	padding: 5px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
